a {
  text-decoration: none;
}
li {
  list-style: none;
  padding: 0;
}
span {
  font-weight: bold;
}
h2{
    padding-left: .5rem;
}
#main-nav {
  margin: 3rem;
  font-size: 1.3rem;
}
#main-nav > ul {
  display: flex;
  justify-content: space-evenly;
}
#main-nav li {
  padding: 1rem 2rem;
}
#product-list {
  padding-left: 0;
}

.theme {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fcfcfc;
  border: 1px solid #dedede;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 1.1rem;
}
.selected {
  border: 1px solid black;
}
